*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: flappyBirdFont;
    font-size: 50px;
}

@font-face {
    font-family: flappyBirdFont;
    src: url('../assets/FlappyBirdy.ttf');
}
#container{
    position: relative;
    background: url('images/mainWallpaper.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
.instruction, #gameOverBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#DED996;
    gap: 20px;
    height: 200px;
    width: 500px;
    border: 5px double black;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left:35%;
    top: 35%;
    text-align: center;
}

.instruction h1{
    font-family: flappyBirdFont;
    font-size: 80px;
}

#restart{
    width:120px;
    height:45px;
    border: none;
    border-radius: 8px;
    background: rgb(25, 159, 2);
    display: block;
    font-size: 30px;
    /* font-family: flappyBirdFont; */
    color:#DED996;
    font-weight: bolder;
} 

#flappyBird{
    position:absolute;
    left: 600px;
    background-image: url("images/flappyMidflap.png");
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    transform-origin: center center;
    animation: flappy 1s infinite;
}



@keyframes flappy {
    0%{
        background-image: url("images/flappyMidflap.png"); 
    }
    50%{
        background-image: url("images/flappyUpflap.png"); 
    }
    100%{
        background-image: url("images/flappyDownflap.png");
    }
    
}

