*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background: rgb(244, 245, 215);
}

.container{
    display: flex;
    margin: 20px auto;
    background: rgb(205, 241, 205);
    max-width: 1200px;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:20px 20px;
}

#main-container{
    position:relative;
    background:rgb(244, 245, 215) ;
    border: 1px solid black;
    width: 600px;
    height: 1000px;
    
}

.ball{
    background: rgb(225, 3, 3);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px salmon;
    position: absolute;
    bottom:20px;
    left: 20px;
}