*{
  
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 255, 240);
    color:darkblue;
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1200px;
    text-align: center;
    font-size: 18px;
}

a{
    text-decoration: none;
    border-radius: 8px;
    background: darkblue;
    color: azure;
    padding: 10px 10px;
}

a:hover{
    box-shadow: (0,20,lavender);
}

h1,h2{
    margin-top: 50px;
    text-align: center;
}
div{
    text-align: left;
    background-color:rgb(223, 252, 252);
    padding: 40px 20px;
    margin: 50px auto;
}

